<div class="container">
   <div my-3>
      <h2>Of Observable</h2>
   </div>

   <p><strong>Argument Pass:</strong></p>
   <ul id="element1"></ul>

   <p><strong>Map Operator:</strong></p>
   <ul id="element2"></ul>

   <p><strong>Filter Operator:</strong></p>
   <ul id="element3"></ul>

   <p><strong>Scan Operator:</strong></p>
   <ul id="element4"></ul>

   <p><strong>Take Operator:</strong></p>
   <ul id="element5"></ul>

   <p><strong>Delay Operator:</strong></p>
   <ul id="element6"></ul>

  

</div>