<div class="container">
  <mat-list>
    <div mat-subheader>Create Observable</div>
    <br>
    <br>
    <div class="wrapper">

      <div class="wrapper-item"><a routerLink="from">From</a></div>
      <div class="wrapper-item"><a routerLink="of">Of</a></div>
      <div class="wrapper-item"><a routerLink="interval">Interval</a></div>
      <div class="wrapper-item"><a routerLink="timer">Timer</a></div>
      <div class="wrapper-item"><a routerLink="range">Range</a></div>
      <!--<div class="wrapper-item"><a routerLink="from">From</a></div>
      <div class="wrapper-item"><a routerLink="from">From</a></div>
      <div class="wrapper-item"><a routerLink="from">From</a></div> -->

    </div>

  </mat-list>

</div>