<div class="container">
  <mat-list>
    <div mat-subheader>Operators</div>
    <br />
    <br />
    <div class="wrapper">
      <div class="wrapper-item"><a routerLink="to-array">ToArray</a></div>
      <div class="wrapper-item"><a routerLink="map-mapTo">Map-MapTo</a></div>
      <div class="wrapper-item"><a routerLink="pluck">Pluck</a></div>
      <div class="wrapper-item"><a routerLink="timer">Timer</a></div>
      <div class="wrapper-item"><a routerLink="startWith">StartWith</a></div>
      <div class="wrapper-item"><a routerLink="every">Every</a></div>
      <div class="wrapper-item"><a routerLink="distinctUntilChanged">distinctUntilChanged</a></div>
      <!-- <div class="wrapper-item"><a routerLink="defaultIfEmpty">defaultIfEmpty</a></div> -->
      <div class="wrapper-item"><a routerLink="delayWhen">DelayWhen</a></div>
      <div class="wrapper-item"><a routerLink="takeWhileTakeUntil">TakeWhileTakeUntil</a></div>
    </div>
  </mat-list>
</div>