<div class="container">
  <mat-list>
    <div mat-subheader>Operators</div>
    <br />
    <br />
    <div class="wrapper">
      <div class="wrapper-item"><a routerLink="to-array">ToArray</a></div>
      <div class="wrapper-item"><a routerLink="map-mapTo">Map-MapTo</a></div>
      <div class="wrapper-item"><a routerLink="pluck">Pluck</a></div>
      <div class="wrapper-item"><a routerLink="timer">Timer</a></div>
      <div class="wrapper-item"><a routerLink="startWith">StartWith</a></div>
      <div class="wrapper-item"><a routerLink="every">Every</a></div>
      <div class="wrapper-item"><a routerLink="distinctUntilChanged">distinctUntilChanged</a></div>
      <!-- <div class="wrapper-item"><a routerLink="defaultIfEmpty">defaultIfEmpty</a></div> -->
      <div class="wrapper-item"><a routerLink="delayWhen">DelayWhen</a></div>
      <div class="wrapper-item"><a routerLink="takeWhileTakeUntil">TakeWhileTakeUntil</a></div>
      <div class="wrapper-item"><a routerLink="skip-skipLast">SkipSkipLast</a></div>
      <div class="wrapper-item"><a routerLink="skipWhile-skipUntil">SkipWhileSkipUntil</a></div>
      <div class="wrapper-item"><a routerLink="concat">Concat</a></div>
      <div class="wrapper-item"><a routerLink="concatAll">ConcatAll</a></div>
      <div class="wrapper-item"><a routerLink="concatMap-concatMapTo">ConcatMapConcatMapTo</a></div>
      <div class="wrapper-item"><a routerLink="merge-mergeMap-merge-All">Merge-MergeMap-MergeAll</a></div>
      <div class="wrapper-item"><a routerLink="buffer-bufferCount">Buffer-BufferCount</a></div>
      <div class="wrapper-item"><a routerLink="bufferTime-bufferToggle">BufferTime-BufferToggle</a></div>
      <div class="wrapper-item"><a routerLink="throttle-throttleTime">Throttle-ThrottleTime</a></div>
      <div class="wrapper-item"><a routerLink="zip">Zip</a></div>
      <div class="wrapper-item"><a routerLink="combineLatest">CombineLatest</a></div>
      <div class="wrapper-item"><a routerLink="forkjoin">ForkJoin</a></div>
      <div class="wrapper-item"><a routerLink="retry-retryWhen">Retry-RetryWhen</a></div>
      <div class="wrapper-item"><a routerLink="withLatestFrom">WithLatestFrom</a></div>
      <div class="wrapper-item"><a routerLink="debounce-debounceTime">Debounce-DebounceTime</a></div>
    </div>
  </mat-list>
</div>